<%= form_for(@service) do |f| %>
  <% if @service.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@service.errors.count, "error") %> prohibited this service from being saved:</h2>

      <ul>
      <% @service.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    タイトル
    <%= f.text_field :title %>
  </div>
  
  <div>
    ロゴ
    <%= f.text_field :logo %>
  </div>
  
  <div>
    バナー
    <%= f.text_field :banner %>
  </div>
  
  <div>
    root
    <%= f.text_field :root %>
  </div>
  
  <div>
    認証成功後
    <%= f.text_field :auth_success %>
  </div>
  
  <div>
    認証失敗後
    <%= f.text_field :auth_fail %>
  </div>
  
  <div>
    プロフィール更新
    <%= f.text_field :profile_update %>
  </div>
  
  <div>
    プロフィール更新後の戻し先
    <%= f.text_field :back_from_profile %>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
