<% @title = "ログイン" %>
<% content_for :breadcrumb do %>
  <% if @service.present? %><li><%= link_to @service.title, @service.root %></li><% end %>
<% end %>
<% content_for :head do -%>
  <%= javascript_include_tag "authenticate" %>
<% end %>

<div class="column half">
  <%= render :layout => '/shared/column', :locals => {:id => 'login', :title => 'ログイン'} do %>
    <div class="content">
      <% if @service.blank? %>
        <h2>プロフィールに新しいOpenIDを追加します</h2>
        <div>
          <% if Time.at(session[:last_login].to_i) > 5.minutes.ago %>
            続いて、追加したいIDでログインしてください。
          <% else %>
            最初に、現在使っているIDでログインしてください。
          <% end %>
        </div>
      <% else %>
        <h2>ログインに使用するIDを選択してください</h2>
        <div>
          本サービスでは独自のID/パスワードを使用する代わりに、OpenIDによる認証を使ってログインを行います。
        </div>
      <% end %>
    </div>
    
    <ul class="menu">
      <li><%= link_to 'はてなID', hatena_login_path(:service_id => (if @service.present?; @service.id; else; nil; end)) %></li>
      <li id="livedoor">livedoor ID</li>
      <li id="mixi">mixi OpenID</li>
      <li id="google">Googleアカウント</li>
      <li id="yahoojp">Yahoo! JAPAN ID</li>
      <li data-destination="#openid-form">その他のOpenID</li>
    </ul>
  <% end %>
</div>

<div class="column half">
  <%= render :layout => '/shared/column', :locals => {:id => 'openid-form', :title => 'その他のOpenID'} do %>
    <%= form_tag openid_urls_login_path do %>
      <div class="content">
        <%= hidden_field_tag 'service_id', @service.id if @service.present? %>
        <div class="input-field">
          <label for="openid_url">OpenID URL</label>
          <%= text_field_tag :openid_url %>
        </div>
      </div>
      
      <ul class="menu">
        <li id="submit">ログイン</li>
      </ul>
    <% end %>
  <% end %>
</div>

