<% @title = "認証" %>

<div class="introduction">
  <h2>認証に使用するIDを選択して下さい</h2>
  <% if params[:mode] == 'id_append' %>
    <p>
      <% if Time.at(session[:last_login].to_i) < 5.minutes.ago %>
        プロフィールに新しいIDを追加します。<br>
        最初に、現在使っているIDでログインしてください。
      <% else %>
        追加したいIDでログインしてください。
      <% end %>
    </p>
  <% else %>
    <p>
      本サービスでは独自のID/パスワードを使用する代わりに、
      他サービスのID/アカウントを使って認証を行います。
    </p>
  <% end %>
</div>

<div class="buttons">
  <%= link_to hatena_login_path(
    :service_id => (if @service.present?; @service.id; else; nil; end),
    :mode => params[:mode]
  ) do %><!--
     --><button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
      はてなID
    </button><!--
   --><% end %>

  <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect specific-id-button" data-url="http://livedoor.com">
    livedoor ID
  </button>

  <%= link_to openid_connect_authenticate_path(
    :service_id => (if @service.present?; @service.id; else; nil; end),
    :mode => params[:mode]
  ) do %><!--
     --><button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
      Googleアカウント
    </button><!--
   --><% end %>

  <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect specific-id-button" data-url="yahoo.co.jp">
    Yahoo! JAPAN ID
  </button>

  <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect" id="other-openid">
    その他のOpenID
  </button>
</div>

<dialog class="mdl-dialog" id="openid-login">
  <h4 class="mdl-dialog__title">その他のOpenID</h4>
  <%= form_tag openid_urls_login_path do %>
    <div class="mdl-dialog__content">
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <%= hidden_field_tag 'service_id', @service.id if @service.present? %>
        <%= hidden_field_tag 'mode', params[:mode] %>
        <%= text_field_tag :openid_url, '', :class => 'mdl-textfield__input' %>
        <label class="mdl-textfield__label" for="openid_url">OpenID URL...</label>
      </div>
    </div>
    <div class="mdl-dialog__actions">
      <button type="submit" class="mdl-button">認証</button>
      <button type="button" class="mdl-button">キャンセル</button>
    </div>
  <% end %>
</dialog>
