<% @title = "新規プロフィール作成" %>
<% content_for :head do -%>
  <%= javascript_include_tag "new_profile" %>
<% end %>

<div class="container" style="margin-top: 1em;">
  <% if @profile.errors.any? %>
    <div class="panel panel-warning">
      <div class="panel-heading">
        <h3 class="panel-title">入力にエラーがあります</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @profile.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <% if ['www.google.com','me.yahoo.co.jp'].include?(@openid_url.domain_name) %>
    <div class="panel panel-warning">
      <div class="panel-heading">
        <h3 class="panel-title">ユーザ登録済みにも関わらずこの画面が出る場合</h3>
      </div>
      <div class="panel-body">
        <p>
          他のOpenIDでユーザ登録済みではありませんか？<br>
          その場合はそのOpenIDでログイン後、プロフィールの編集画面からこのOpenIDを追加することができます。
        </p>
        <p>
          このOpenIDでユーザ登録済みにも関わらずこの画面が出る場合はお問い合わせください。<br>
          <%= link_to '「雨上がりの青空を探して」 Twitterアカウント', "https://twitter.com/yumenosoranet" %>
        </p>
      </div>
    </div>
  <% end %>

  <%= form_tag profile_path do%>
    <h2>新規プロフィール作成</h2>

    <div class="form-group">
      <label for="profile_nickname">ニックネーム</label>
      <%= text_field_tag "profile[nickname]", '', :class => 'form-control' %>
    </div>

    <div class="form-group">
      <label for="profile_profile_text">自己紹介文</label>
      <%= text_area_tag "profile[profile_text]", '', :class => 'form-control' %>
    </div>
    <%= hidden_field_tag 'id', params[:service_id] %>
    <button type="submit" class="btn btn-primary">ログイン</button>
  <% end %>
</div>
