<% @title = "#{@profile.nickname}: プロフィール編集" %>

<div class="mdl-grid">
  <div class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet mdl-cell--4-col-phone profile-form">
    <%= form_for(@profile, :action => :update, :format => :json) do |f| %>
      <h2>プロフィール</h2>

      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <%= f.text_field :nickname, :class => 'mdl-textfield__input' %>
        <label class="mdl-textfield__label" for="profile_nickname">ニックネーム</label>
      </div>

      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <%= f.text_area :profile_text, :class => 'mdl-textfield__input' %>
        <label class="mdl-textfield__label" for="profile_profile_text">自己紹介文</label>
      </div>
      <%= hidden_field_tag 'id', params[:service_id] %>
    <% end %>
  </div>

  <div class="mdl-cell mdl-cell--6-col mdl-cell--8-col-tablet mdl-cell--4-col-phone">
    <h3>使用できるID・アカウント</h3>
    <div class="mdl-list accounts">
      <% @profile.openid_urls.each do |openid_url| %>
        <div class="mdl-list__item" id="openid-<%= openid_url.id %>">
          <span class="mdl-list__item-primary-content">
            <span class="label"><%= openid_label openid_url.str %></span>
          </span>
          <% unless openid_url.primary_openid %>
            <button class="mdl-button mdl-js-button mdl-button--icon mdl-list__item-secondary-action openid-delete" data-id="<%= openid_url.id %>">
              <i class="material-icons">delete</i>
            </button>
          <% end %>
        </div>
      <% end %>
    </div>

    <div style="text-align: right">
      <%= button_to profile_authenticate_path(:mode => 'id_append'), :class => 'mdl-button mdl-js-button mdl-button--fab mdl-button--mini-fab mdl-button--colored', :method => 'get' do %>
        <%= hidden_field_tag 'mode', 'id_append' %>
        <i class="material-icons">add</i>
      <% end %>
    </div>
  </div>
</div>

<dialog class="mdl-dialog" id="openid-delete">
  <h4 class="mdl-dialog__title">ID・アカウントの削除</h4>
  <div class="mdl-dialog__content">
    <p>
      <span id="openid-label"></span> を使ってログインできなくなります。本当によろしいですか？
    </p>
  </div>
  <div class="mdl-dialog__actions">
    <button type="button" class="mdl-button" id="execute-delete">はい</button>
    <button type="button" class="mdl-button">いいえ</button>
  </div>
</dialog>
